body{
  margin: 0;
  padding: 0;
  background-color:rgb(170, 233, 224);
}
.header{
  margin:100px 0px;
  border:2px solid gray;
  border-radius: 20px;
  width:500px;
  height: 100px;
  display:flex;
  justify-content:center;
  background-color:lightyellow;
}
.color1{
  color:rgb(234, 11, 11);
}
.container{
  display:flex;
  justify-content:center;
} 
.top_header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color:purple;
}
