
body{
  background-color: rgb(171, 226, 208);
}

.header{
  display: flex;
  justify-content: center;
  color: brown;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

